ol li ol li {
font-weight: bold;
}

summary {
  outline: none;
}

summary:focus {
outline:0;
}

html {
  overflow-y: scroll;
}

@font-face {
 font-family: "FreerFont";
 src: url("https://github.com/kylak/FreerFont/blob/7ca62f120dbf8f2a6d25d3910ad34893e13328a1/FreerFont-Smooth.ttf?raw=true") format("truetype");
}

#grec {
font-family: FreerFont;
font-size:0.6em;
}